{
    email {$CADDY_EMAIL:admin@example.com}
}

{$DOMAIN_NAME:localhost} {
    # Astro SSR Frontend (Port 4321 - Aman dari port 3000 skripsi)
    reverse_proxy frontend:4321

    # Go API Routes
    handle /api/* {
        reverse_proxy backend:8080
    }

    # Go CMS Routes
    handle /cms/* {
        reverse_proxy backend:8080
    }

    # Healthcheck
    handle /health {
        reverse_proxy backend:8080
    }
}
